html {
    background-color: #304d3e;
    background-size: 30%;
    font-family: 'Zen Dots', cursive;
    color: rgb(175, 60, 60);
  }

a {
    text-decoration: none;
    color: rgb(98, 168, 113);
}

a:hover {
    background-color: #95967a;
    color: black;
}

.content {
    display: grid;
    padding: 40px;
    background-color: #1c3334;
    max-width: 985px;
    margin: 0 auto;
}

#myPic {
    max-width: 300px;
    width: 100%;
    float: right;
    border: 5px solid rgb(190, 189, 126);
    margin-right: 25px;
}

header {
    text-align: center;
    font-size: 150%;
    padding: 30px;
    color: white;
    background-color: #2f4454;
    border: 5px double rgb(190, 189, 126);
    border-radius: 15px;
}

footer {
    text-align: center;
    padding: 30px;
    color: white;
    background-color: #2f4454;
    border: 5px double rgb(190, 189, 126);
    border-radius: 15px;
}

footer a {
    color:rgb(255, 235, 53);
}

.date {
    color: #c5c481;
}

@media (max-width: 740px) {
    .content {
        display: block;
    }
    
    #myPic {
        float: right;
    }
}