html {
    background-color: white;
}
nav {
    display: block;
    position: fixed;
    text-align: center;
    text-decoration: white;
    padding: 20px;
    width: 100%;
    background-color: #2e4057;
}
nav a {
    color: #f4ebd9;
    padding: 10px;
    text-decoration: none;
    
}
nav:hover {
    background-color: #e0607e;
    color: white;
}
.section1 {
    background-color:#2e4057;
    padding: 40px 40px 40px 40px;
    
}
footer {
    text-align: center;
    padding: 20px;
    width: 100%;
    background-color:#2e4057;

}