html {
    background-color: #304d3e;
    background-size: 30%;
    font-family: 'Zen Dots', cursive;
    color: white;
}

a {
    text-decoration: none;
    color: rgb(247, 246, 242);
}

a:hover {
    background-color: rgb(53, 199, 235);
    color: black;
}

.content {
    display: block;
    padding: 40px;
    background-color: #c4b874;
    max-width: 985px;
    margin: 0 auto;
    border: 3px solid white;
    border-radius: 15px;

}

header, footer {
    padding: 30px;
    text-align: center;
    color: white;
    background-color: #304d3e;
    border: 5px double white;
    border-radius: 15px;
}

.date {
    color: #c44f32;
    font-size: 0.9em;
}

p {
    line-height: 25px;
}